@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

.navbar-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  top: 0;
  padding: 10px 0;
  color: var(--gray-dark-theme);
  background-color: var(--white);
  border: solid whitesmoke;
  border-width: 0 0 1px 0;
  opacity: var(--o-lit);
}

.navbar-container > * {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.dark-mode-nav {
  border: solid var(--gray-dark-theme);
  border-width: 0 0 1px 0;
  background-color: var(--black-dark-theme);
}

.dark-mode-nav * {
  color: var(--white);
}

.navbar-container .search {
  width: 100%;
  justify-content: center;
}

.dark-mode-nav ::placeholder {
  color: #7e7e7e;
}

.youtube-logo {
  display: inline-flex;
  margin-left: 10px;
  align-items: center;
  min-width: 90px;
  min-height: 20px;
}

.youtube-logo > img {
  width: 1.8rem;
  height: 1.8rem;
}

.youtube-logo > span {
  font-family: "Oswald", sans-serif;
  letter-spacing: -1px;
  margin-left: 3px;
  font-size: 20px;
}

.navbar-icons {
  padding: 0.1rem 0.5rem;

  font-size: 1.75rem;
}

.navbar-icons:hover {
  cursor: pointer;
}

.search-icon {
  margin-right: 10px;
}
.search-icon:hover {
  cursor: pointer;
}
.navbar-container .searchBox {
  font-size: var(--f-normal);
  max-width: 37.5rem;
  width: 100%;
  height: 2.5rem;
}
.navbar-container input {
  padding: 0 15px 0 10px;
  border: solid var(--light-white);
  border-width: 1px 0 1px 1px;
  z-index: 1;
}

.navbar-container .search-icon {
  background-color: #f8f8f8;
  border: solid var(--light-white);
  padding: 0 20px;
  border-width: 1px;
  height: 2.5rem;
}

.navbar-container .search-icon:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.dark-mode-search-icon {
  background-color: #313131 !important;
  border-color: var(--gray-dark-theme) !important;
}

.dark-mode-nav input {
  background-color: #121212;
  border: solid var(--gray-dark-theme);
  border-width: 1px;
}

@media (min-width: 1024px) {
  .navbar-container .search {
    width: 70%;
  }
  .circle-icon {
    margin-left: 0.5rem;
    border-radius: 100%;
    padding: 10px;
    background-color: #f9f9f9;
  }
  .dark-mode-circle-icon {
    background-color: var(--gray-dark-theme) !important;
  }

  .l-icons-group {
    margin-right: 20rem;
  }
}

.menu-profile {
  position: absolute;
  width: 18.5rem;
  background: var(--white);
  border-radius: 5px;
  top: 4rem;
  right: 1rem;
  padding: 10px 0;
  overflow: hidden;
  opacity: var(--o-lit);
  box-shadow: 0 0 2px var(--black-dark-theme);
}

.menu-profile-dark-mode {
  background: var(--black-dark-theme);
}

.menu-profile > div {
  padding: 8px 5px;
}

.menu-profile > div:hover {
  cursor: pointer;
  background: var(--light-white);
}

.menu-profile-dark-mode > div:hover {
  cursor: pointer;
  background: var(--gray-dark-theme);
}

.menu-header {
  display: flex;
  align-items: center;
}
.menu-header > span {
  margin-left: 1rem;
}
.bottom-tool-tip[tool-tip] {
  box-sizing: border-box;
  position: relative;
}

.bottom-tool-tip:hover::after {
  z-index: 2;
  content: attr(tool-tip);
  display: flex;
  position: absolute;
  top: 3.5rem;
  width: max-content;
  background-color: var(--gray-dark-theme);
  color: var(--white);
  padding: 0.2rem 0.4rem;
  font-size: var(--f-tiny);
}
