.video-page-container {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;

  padding-bottom: 10rem;
  margin-top: 4rem;
}

@media (min-width: 1024px) {
  .video-page-container {
    grid-template-columns: 70% 30%;
    justify-items: right;
  }
}
.video {
  grid-column: 1;
  background-color: black;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 1.5rem;

  position: relative;
}

@media (min-width: 1024px) {
  .video {
    grid-column: 1/3;
  }
}

.video-config-container {
  width: 100%;
  padding-bottom: 0.3rem;
  position: absolute;
  color: var(--white);
  bottom: 0;
  box-shadow: inset 0 -20px 20px 0 rgba(12, 12, 12, 0.5);
  transition: 0.25s;
  opacity: 0;
}

.video-config {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.video:hover .video-config-container {
  opacity: 1;
}

.video-progress {
  margin: 0 auto;
  max-width: 99%;
  width: 100%;
  background-color: var(--dark-gray);
  height: 2px;
  margin-bottom: 0.5rem;
}

.video-progress-current {
  --width: 33%;
  height: 100%;
  width: var(--width);
  background-color: var(--red);
}

.video-config > div {
  display: flex;
  flex-direction: row;
}

.video-config > div > * {
  margin: 0 5px;
}
.video-config > div > *:hover {
  cursor: pointer;
}

.video-info {
  margin-top: var(--rem-lit);
  width: 90%;
}

:root {
  --max-size-vid: 100%;
}
@media (min-width: 1024px) {
  :root {
    --max-size-vid: 75rem;
  }
}

.large-size-video {
  width: var(--max-size-vid);
  height: auto;
}

.video-title {
  font-size: var(--f-title);
  font-weight: 600;
}
.video-info1 {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: 1rem;
  border: solid var(--gray-dark-theme);
  padding-bottom: 1.5rem;
  border-width: 0 0 1px 0;
}

.font-gray {
  color: var(--dark-gray);
}

.font-min {
  font-size: 0.8rem;
}

.video-description-container {
  max-width: 40rem;
  width: 100%;
}

.video-like {
  display: flex;
  font-size: 0.9rem;
  flex-direction: row;
  font-weight: var(--f-m);
}

.video-like > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.video-like > div:hover {
  cursor: pointer;
}

.video-like > div > span {
  padding: 0 1rem;
}

.other-video {
  margin-top: var(--rem-lit);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.video-owner-image {
  border-radius: 100%;
  max-width: 3rem;
  max-height: 3rem;
}

.video-info2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border: solid var(--gray-dark-theme);
  border-width: 0 0 1px 0;
  padding: 15px 0;
}

.video-owner {
  display: flex;
  flex-direction: row;
}

.video-owner > div {
  margin-left: 10px;
}

.subscribe {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.subscribed {
  background: var(--gray-dark-theme) !important;
}

.subscribe-button {
  background: var(--red);
  color: white;
  border: none;
  padding: 0.6rem 1.1rem;
  margin-right: 1rem;
}

.subscribe-button:hover {
  cursor: pointer;
}
