.video-page-container {
  display: grid;
  grid-template-areas:
    "video"
    "info"
    "other"
    "comments";
  grid-auto-columns: 1fr;
  gap: 1.5em;
  justify-items: center;
  padding-bottom: 10rem;
  margin-top: 4rem;
}

.vid-grid-item:nth-child(1) {
  grid-area: video;
}
.vid-grid-item:nth-child(2) {
  grid-area: info;
}

.vid-grid-item:nth-child(3) {
  grid-area: other;
}

.vid-grid-item:nth-child(4) {
  grid-area: comments;
}

@media (min-width: 1024px) {
  .video-page-container {
    grid-template-areas:
      "video video video"
      "info info other"
      "comments comments other";
  }
}
.video {
  background-color: black;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  position: relative;
}

.video-config-container {
  width: 100%;
  padding-bottom: 0.3rem;
  position: absolute;
  color: var(--white);
  bottom: 0;
  box-shadow: inset 0 -20px 20px 0 rgba(12, 12, 12, 0.5);
  transition: 0.25s;
  opacity: 0;
}

.video-config {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.video:hover .video-config-container {
  opacity: 1;
}

.video-progress {
  margin: 0 auto;
  max-width: 99%;
  width: 100%;
  background-color: var(--dark-gray);
  height: 2px;
  margin-bottom: 0.5rem;
}

.video-progress-current {
  --width: 33%;
  height: 100%;
  width: var(--width);
  background-color: var(--red);
}

.video-config > div {
  display: flex;
  flex-direction: row;
}

.video-config > div > * {
  margin: 0 5px;
}
.video-config > div > *:hover {
  cursor: pointer;
}

.video-info {
  width: 90%;
}

:root {
  --max-size-vid: 100%;
}
@media (min-width: 1024px) {
  :root {
    --max-size-vid: 75rem;
  }
}

.large-size-video {
  width: var(--max-size-vid);
  height: auto;
}

.video-title {
  font-size: var(--f-title);
  font-weight: 600;
}
.video-info1 {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: 1rem;
  border: solid var(--gray-dark-theme);
  padding-bottom: 1.5rem;
  border-width: 0 0 1px 0;
}

.font-gray {
  color: var(--dark-gray);
}

.font-min {
  font-size: 0.8rem;
}

.video-description-container {
  max-width: 40rem;
  width: 100%;
}

.video-like {
  display: flex;
  font-size: 0.9rem;
  flex-direction: row;
  font-weight: var(--f-m);
}

.video-like > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.video-like > div:hover {
  cursor: pointer;
}

.video-like > div > span {
  padding: 0 1rem;
}

.other-video {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.user-profile {
  border-radius: 100%;
  max-width: 3rem;
  max-height: 3rem;
}

.video-info2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border: solid var(--gray-dark-theme);
  border-width: 0 0 1px 0;
  padding: 15px 0;
}

.video-owner {
  display: flex;
  flex-direction: row;
}

.video-owner > div {
  margin-left: 10px;
}

.subscribe {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.subscribed {
  background: var(--gray-dark-theme) !important;
}

.subscribe-button {
  background: var(--red);
  color: white;
  border: none;
  padding: 0.6rem 1.1rem;
  margin-right: 1rem;
}

.subscribe-button:hover {
  cursor: pointer;
}

.user-name {
  font-weight: var(--f-m);
  margin-right: 0.5rem;
}

.comments {
  width: 100%;
}

.comments > div {
  margin-left: 1.5rem;
}

@media (min-width: 1024px) {
  .comments > div {
    margin-left: 3.5rem;
  }
}

.comment {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}

.comment-input {
  border-width: 0 0 1px 0;
  background-color: transparent;
  font-size: 1rem;
  margin-left: 1rem;
  width: 100%;
}

.comment-part {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
}

.comment-part > * {
  width: 100%;
}

.comment-input:focus {
  outline: none;
}

.dark-mode-font {
  color: white;
}

.flex-center {
  display: flex;
  align-content: center;
}

.comments .flex-center > * {
  margin-left: 0.45rem;
}
