.video-page-container {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-items: right;
}

.video {
  grid-column: 1/3;
  background-color: black;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 20px;
  user-select: none;
}

.video-info {
  width: 90%;
}

:root {
  --max-size-vid: 100%;
}
@media (min-width: 800px) {
  :root {
    --max-size-vid: 82rem;
  }
}

.large-size-video {
  width: var(--max-size-vid);
  height: auto;
}

.video-title {
  font-size: var(--f-title);
  font-weight: 600;
}
.video-info1 {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: 1rem;
  border: solid var(--gray-dark-theme);
  padding-bottom: 20px;
  border-width: 0 0 1px 0;
}

.font-gray {
  color: var(--dark-gray);
}

.font-min {
  font-size: 0.8rem;
}

.video-description-container {
  width: 50rem;
}

.video-like {
  display: flex;
  font-size: 0.9rem;
  flex-direction: row;
  font-weight: var(--f-m);
}

.video-like > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.video-like > div:hover {
  cursor: pointer;
}

.video-like > div > span {
  padding: 0 1rem;
}

.other-video {
  width: 100%;
  display: flex;

  flex-direction: column;
  justify-items: left;
}

.video-owner-image {
  border-radius: 100%;
  max-width: 3rem;
  max-height: 3rem;
}

.video-info2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border: solid var(--gray-dark-theme);
  border-width: 0 0 1px 0;
  padding: 15px 0;
}

.video-owner {
  display: flex;
  flex-direction: row;
}

.video-owner > div {
  margin-left: 10px;
}

.subscribe {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.subscribed {
  background: var(--gray-dark-theme) !important;
}

.subscribe-button {
  background: var(--red);
  color: white;
  border: none;
  padding: 0.6rem 1.1rem;
  margin-right: 1rem;
}

.subscribe-button:hover {
  cursor: pointer;
}
