:root {
  --f-title: 1.5rem;
  --f-normal: 1rem;
  --f-m: 600;
  --content-width: 80%;
  --white: white;
  --light-white: #d3d3d3;
  --dark-gray: #a2a2a2;
  --gray-dark-theme: #353535;
  --black-dark-theme: #202020;
  --red: #cc0000;
  --rem-lit: 0.5rem;
  --o-lit: 0.98;
}

.page-container {
  background-color: white;
}

.page-container > * {
  flex: 1;
}

.dark-mode-background {
  background-color: #181818;
  color: white;
}

.hover-pointer:hover {
  cursor: pointer;
}
